<template>
  <h1>hello</h1>
</template>

<script>
export default {
  components: {},
  data() {
    return {}
  },
  created() {},
  mounted() {
    // call ajax sample
    this.axios.get('user.json').then(res => console.log(res))
    // jump to page sample
    // setTimeout(() => {
    //   this.$router.push({ path: `/user/1` })
    // }, 1000)
  },
  methods: {}
}
</script>

<style lang="scss">
</style>
